<!DOCTYPE html>
    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'poems/images/favicon.ico' %}"/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>la zugrăvit  </title>

    <!-- Favicon -->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'poems/images/favicon.ico' %}"/>

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poems/styles.css' %}" />

    <!--- Google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">

{% load static %}
<body style="background-image: url('{% static 'poems/images/background/poem7.png' %}'); font-family: Comfortaa;">
    <!-- Description -->
    <div style="text-align: center;">
        <button class="btn btn-primary" data-toggle="modal" data-target="#descriptionModal"
        style="background-color: transparent;
                color: black;
                padding: 1% 4%;
                font-size: 1.5rem;
                margin: 1%;
                border: 2px solid;">
            Despre proiect
        </button>
    </div>

    <!-- Description modal -->
    <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 90% !important;">
            <div class="modal-content">
              <div class="modal-header">
                <p class="modal-title h2" id="descriptionModalLabel">Despre proiect</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="h4" style="text-align: justify;">
                    O mică parte din volumul de debut &lt;Corp de om&gt; al poetei Maram Hmaidan.
                    Diverse locații din centrul orașului ascund câte un cod QR asemănător, care te duce către alte poeme ale
                    artistului. Harta îți arată unde le poți întâlni.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
              </div>
            </div>
        </div>
    </div>

   <!-- Poem text -->
    <div style="margin-top: 3%; color: white;">
        <p class="h4" style='font-family: "Comfortaa"; padding-left: 15%;'>
            ce ne ține mereu aproape când ne iubim?
            <br><br>
        </p>

        <p class="h4" style='font-family: "Comfortaa"; padding-left: 20%;'>
            - faptul că, încet-încet, începem să locuim în inima celuilalt.
          <br><br>
        </p>

        <p class="h4" style='font-family: "Comfortaa"; padding-left: 28%;'>
            așa, o parte din mine ești tu; deci nu am cum să te pierd.
            <br><br>
        </p>
    </div>

    <div class="container poem-main-container" style="width: 100%; padding-top: 15%;">
        <div class="container poem-text-container">
          <!-- Poem title -->
          <p class="h2" style='font-family: "Comfortaa";'>la zugrăvit</p>

          <br><br>

          <!-- Poem text -->
          <p class="h4" style='font-family: "Comfortaa";'>
            odată ce prinzi drag de cineva,
            <br>
            ușor și nebănuit, îți devine-un pic iubit
            <br>
            și, iubit fiind, începe să-și lase câte-o bucățică azi,
            <br>
            una mâine, la tine în suflet
            <br>
            întâi, începe cu o pereche de șosete, să nu fie așaa, prea serios,
            <br>
            apoi uită-un gând pe jos
            <br>
            mai peste-o zi două, un ghiveci c-o floare.
            <br>
            și prinde curaj mai tare
            <br>
            cândva – hop, o pungă de cafea. pusă – culmea
            <br>
            la perdea

            <br><br>

            trece-un timp, că doar n-o sta
            <br>
            și te trezești cu inima plină de amprente:

            <br><br>

            catrafuse îngrămădite, cuvinte răstălmăcite
            <br>
            păreri care mai de care mai pertinente, condimente astringente
            <br>
            borcănașe de ceaiuri pe bufet, pe birou câte-un pamflet
            <br>
            și emoții care-ți fac pereții să vibreze

            <br><br>

            dacă cineva cel drag o să-nceteze odată,
            <br>
            uită-te în inima ta:
            <br>
            cu iubire a vopsit tavanul
            <br>
            și ți-a dat soare tot anul
          </p>
        </div>
    </div>

     <!-- Project description -->
    <div class="container description-container" style="color: white;margin-top: 5%;">
        <p class="h5" style="text-align: justify;">

            Salut! Dacă îmi trimiți pe adresa de e-mail de mai jos câte o captură de ecran cu cel puțin 7 din
            poemele pe care le-ai găsit urmând harta, am să te invit la o cafea, unde am pregătit un cadou
            special pentru tine.

            <br><br>
            E-mail:
            <a href="mailto:maram.hmaidan@gmail.com">maram.hmaidan@gmail.com</a>

            <br><br>
            Maram
        </p>
    </div>

    <!-- Poems map -->
    <div style="text-align: center; background-color: white; margin-top: 10%;">
        <div class="mapouter" style="display: inline-block;">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas" width="1000" height="900"
                  src="https://www.google.com/maps/d/u/0/embed?mid=12KK9j1nLbzXRqfn01V-zCYvx9FwYSCH6&z=15"
                  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>.mapouter{position:relative;text-align:right;height:900px;width:1000px;}</style>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:900px;width:1000px;}
                </style>
            </div>
        </div>
    </div>

    <!-- Boostrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>