html, body {
    height: 100%;
}

body {
    background-size: cover;
    font-family: Comfortaa;
}

.poem-main-container {
    height: 70%;
    width: 100%;
    display: table;
}

.poem-text-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}